{% extends "layout.html" %}
{% block body %}

<div>
    <form action="#need write python method?">
        <label for="project-name">Project Name</label>
        <input type="text" name="project-name" id="project-name-field" value=""><br>
        <label for="due-date">Female</label>
        <input type="radio" name="due-date" id="due-date-field" value=""><br>
        <label for="other">Other</label>
        <input type="radio" name="gender" id="other" value="other"><br><br>
        <input type="submit" value="Submit">
    </form>

</div>


{% endblock %}