{% extends "layout.html" %}
{% block body %}

<div>
    <form action="#need write python method?">
        <label for="project-name">Project Name</label>
        <input type="text" name="project-name" id="project-name-field" value=""><br>
        <label for="due-date">Female</label>
        <input type="radio" name="due-date" id="due-date-field" value=""><br>
        <label for="other">Other</label>
        <input type="radio" name="gender" id="other" value="other"><br><br>
        <input type="submit" value="Submit">


        <div style="overflow:hidden;">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <div id="datetimepicker12"></div>
                    </div>
                </div>
            </div>
            <!-- <script type="text/javascript">
                // $(function () {
                //     $('#datetimepicker12').datetimepicker({
                //         inline: true,
                //         sideBySide: true
                //     });
                // });

                $(function () {
                    $('#datetimepicker12').datetimepicker({
                        inline: true,
                        sideBySide: true
                    });
                });
            </script> -->
        </div>


        

    </form>

    <!--  testTime no longer defined, was using it on button click in createProject.html -->
    <button onclick="testTime()">click</button>

    <!-- <p>Date: <input type="text" id="datepicker"></p> -->

</div>


{% endblock %}