{% extends "layout.html" %}


{% block body %}

<div>
    <div id="week-view" class="container">
        <div id="monday-col" class="day-of-the-week">
            <h1>Monday</h1>
        </div>
        <div id="tuesday-col" class="day-of-the-week">
                <h1>Tuesday</h1>
                <ul>
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                </ul>
        </div>
        <div id="wednesday-col" class="day-of-the-week">
                <h1>Wednesday</h1>
                <ul>
                        <li>a</li>
                        <li>b</li>
                        <li>c</li>
                    </ul>
        </div>
        <div id="thursday-col" class="day-of-the-week">
                <h1>Thursday</h1>
                <ul>
                        <li>a</li>
                        <li>b</li>
                        <li>c</li>
                    </ul>
        </div>
        <div id="friday-col" class="day-of-the-week">
                <h1>Friday</h1>
                <ul>
                        <li>a</li>
                        <li>b</li>
                        <li>c</li>
                    </ul>
        </div>

        <div id="saturday-col" class="day-of-the-week">
                <h1>Saturday</h1>
                <ul>
                        <li>a</li>
                        <li>b</li>
                        <li>c</li>
                    </ul>
        </div>

        <div id="sunday-col" class="day-of-the-week">
                <h1>Sunday</h1>
                <ul>
                        <li>a</li>
                        <li>b</li>
                        <li>c</li>
                    </ul>
        </div>

    </div>
</div>

{% endblock %}